<div class="message <%= message.sender.has_role?(:admin) ? "admin" : "user" %>">
  <div class="message-bubble">
    <% if message.sender.has_role?(:admin) %>
      <span class="sender-label">Store</span>
    <% end %>

    <%= message.body %>
  </div>

  <div class="message-meta">
    <%= message.created_at.strftime("%H:%M") %>
  </div>
</div>
