default: &default
  adapter: sqlite3
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
 
development:
  <<: *default
  database: db/development.sqlite3
  
  
 
test:
  <<: *default
  database: db/test.sqlite3
 
production:
  <<: *default
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host: <%= ENV['DB_HOST'] %>