<div class="trend__item">
  <div class="trend__item__pic">
    <% if product.featured_image.attached? %>
      <%= image_tag product.featured_image, alt: product.name, height: "100", width: "100" %>
    <% else %>
      <img src="img/default-product.jpg" height="100" width="100" alt="<%= product.name %>">
    <% end %>
  </div>

  <div class="trend__item__text">
    <h6><%= product.name %></h6>

    <div class="rating">
      <% 5.times do %>
        <i class="fa fa-star"></i>
      <% end %>
    </div>

   
  </div>
</div>
